@charset "utf-8";
body {
	color: #000000;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	background-color: #FBF1E9;
}
.clearfix:after {
	content: ".";  /* 新しい要素を作る */
	display: block;  /* ブロックレベル要素に */
	clear: both;
	height: 0;
	visibility: hidden;
}
.clearfix {
	min-height: 1px;
}
* html .clearfix {
	height: 1px;/*¥*//**
  height: auto;
  overflow: hidden;
  /**/
}
a:link {
	color: #993300;
	text-decoration: none;
}
a:visited {
	color: #993300;
	text-decoration: none;
}
a:hover {
	color: #999900;
	text-decoration: none;
}
a:active {
	color: #dd3333;
	text-decoration: none;
}
#header {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100px;
	background-color: #FCE0BE;
	background-color: rgba(252,224,209,0.5);
}
#header #header_inner {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
}
#header #header_inner h1 img {
	margin-top: 0px;
	padding-top: 18px;
	float: left;
}
#header #header_inner #globalnav ul {
	clear: both;
}
#header #header_inner #globalnav ul li {
	margin-right: 50px;
	float: left;
}
#top_main .slider-wrapper {
	width: 980px;
	margin: 0 auto;
	position: relative;
	z-index: 50px;
}
#footer {
	background-color: #946134;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: both;
}
#footer #footer_innner {
	margin-left: auto;
	margin-right: auto;
	width: 980px;
}
#catComment {
	background: url(../img/up.png) no-repeat;
	position: absolute;
	z-index: 200;
	width: 104px;
	height: 85px;
	bottom: 0;
	right: -20px;
	opacity: 0;
}
#catCommentBlank {
	width: 104px;
	height: 85px;
}
.copyright {
	color: #D7C9C9;
	font-size: 12px;
	text-align: center;
}
#footer img {
	position: absolute;
	left: 990px;
	bottom: 0px;
}
.introContentsInner {
	height: 740px;
}
#header #header_inner #headersuv {
	float: right;
}
#header #header_inner #headersuv a img {
	margin-right: 30px;
	margin-top: 15px;
}
#contents #contents_innner {
	margin: 20px auto 10px;
	width: 980px;
	background-image: url(../img/contentsBg.jpg);
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
	-moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
	box-shadow: 0px 1px 5px 0px #4a4a4a;
}

#contents #contents_innner #News {
	width: 600px;
	height:50px;
	float: left;
	background-image: url(../img/memolong.png);
	margin-top: 15px;
	margin-left: 10px;
	padding:30px;
}

#contents #contents_innner #News h2 {
	color: #572011;
	font-size: 20px;
	background: url(../img/catFot.png) no-repeat;
	padding-left:1.5em;
	line-height:19px;
}

#contents #contents_innner #News #news-ticker .jq-news-ticker-items .jq-news-ticker-item p {
	margin-top: -1em;
	padding-left: 8em;
}
#contents #contents_innner #Comments {
	width: 300px;
	height: 280px;
	float: right;
	background-image: url(../img/memosq.png);
	margin-right: 10px;
	margin-top: 10px;
}
#contents #contents_innner #newBeWrapper {
	padding-top:40px;
	float: left;
	position: relative;
}
#contents #contents_innner #Newbe1,#Newbe2 {
	position:relative;
	width: 300px;
	height: 120px;
	float: left;
	margin-top:-10px;
	margin-left:30px;
}
#contents #contents_innner .newBeTitle1,.newBeTitle2 {
	position:absolute;
	display: block;
	float: left;
	width: 192px;
	height: 50px;
	text-align: center;
	line-height: 2.5em;
	background-image: url(../img/fusen.png);
	font-size: 20px;
	margin-top:-9px;
	margin-left: 15px;
	top:-15px;
	left:-30px;
}

#contents #contents_innner #Comments h3 {
	margin-left: 20px;
	font-size: 16px;
	font-weight: bold;
	margin-top: 50px;
}
#contents #contents_innner #Comments p {
	width: 260px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	text-indent: 1em;
}
#header_space {
	height: 100px;
}
#contents #contents_innner #cat1, #cat2, #cat3, #cat4, #cat5, #cat6 {
	width: 289px;
	height: 289px;
	margin-right: 15px;
	float: left;
	background-color: #f2f2f3;
	margin-top: 20px;
	border: 1px solid #CCC;
	padding-left: 9px;
	padding-top: 9px;
}
#contents #contents_innner #introduce {
	margin-left: 25px;
}
.homeContentsInner {
	height: 300px;
}
#footer #catblank {
	position: relative;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}
#contents #contents_innner #introduce #cat6 img, #contents #contents_innner #introduce #cat5 img, #contents #contents_innner #introduce #cat4 img, #contents #contents_innner #introduce #cat3 img, #contents #contents_innner #introduce #cat2 img, #contents #contents_innner #introduce #cat1 img {
	margin-right: 10px;
	float: left;
}
#contents #contents_innner #introduce #cat6 h3, #contents #contents_innner #introduce #cat5 h3, #contents #contents_innner #introduce #cat4 h3, #contents #contents_innner #introduce #cat3 h3, #contents #contents_innner #introduce #cat2 h3, #contents #contents_innner #introduce #cat1 h3 {
	margin: 10px 0px 0px;
	font-size: 18px;
	font-weight: normal;
	float: left;
}
#contents #contents_innner #introduce #cat6 h3 img, #contents #contents_innner #introduce #cat5 h3 img, #contents #contents_innner #introduce #cat4 h3 img, #contents #contents_innner #introduce #cat3 h3 img, #contents #contents_innner #introduce #cat2 h3 img, #contents #contents_innner #introduce #cat1 h3 img {
	margin-top: 0px;
}
.catsContentsInner {
	height: 1000px;
}
#contents #contents_innner #IntroCats {
	width: 780px;
	background-color: #f2f2f3;
	border: 1px solid #CCC;
	height: 570px;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-top: 15px;
	padding-right: 30px;
	margin-left: auto;
	margin-right: auto;
}
.IntroduceIcon {
	margin-top: 11px;
	float: left;
}
#contents #contents_innner #IntroCats #backToIntro a img {
	margin-right: 10px;
	float: left;
}
#contents #contents_innner #IntroCats #backToIntro a h3 {
	margin: 10px 0px 0px;
	font-size: 18px;
	font-weight: normal;
	float: left;
}
#contents #contents_innner #IntroCats #backToIntro {
	margin-left: 20px;
}
#contents #contents_innner #IntroCats #aboutCat {
	clear: both;
}
#contents #contents_innner #IntroCats #aboutCat img {
	float: left;
	margin-top: 16px;
}
#contents #contents_innner #IntroCats dl {
	background-image: url(../img/introduce/note.png);
	height: 500px;
	width: 350px;
	float: right;
}
#contents #contents_innner #IntroCats dl dt {
	margin-top: 30px;
	width: 120px;
	color: #946134;
	text-align: right;
}
#contents #contents_innner #IntroCats dl dd {
	margin-top: -1.5em;
	width: 200px;
	padding-left: 130px;
}
#contents #contents_innner #otherCats h4 {
	display: block;
	width: 192px;
	height: 50px;
	text-align: center;
	line-height: 3.2em;
	background-image: url(../img/fusen.png);
	font-size: 14px;
	margin-top: 40px;
	margin-left: 64px;
}
#contents #contents_innner #otherCats ul li {
	float: left;
	background-color: #F2F2F2;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	margin-right: 12px;
	width: 120px;
}
#contents #contents_innner #otherCats ul .listend {
	margin-right: 0px;
}
#contents #contents_innner #otherCats ul {
	width: 840px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
}
#contents #contents_innner #otherCats ul a li p {
	font-size: 14px;
	margin-top: 8px;
	display: block;
	float: left;
	margin-left: 4px;
	width: 90px;
}
#contents .flowContentsInner {
	height: auto;
	padding-bottom: 40px;
}
#contents #contents_innner #flowcontent {
	width: 890px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #CCCCCC;
	padding: 20px;
	background: #f2f2f2 url(../img/flow/flowView.png) no-repeat right bottom;
	height: 854px;
}
#contents #contents_innner #flowcontent h3 {
	margin-bottom: 10px;
	color: #572011;
}
#contents #contents_innner #flowcontent p {
	text-indent: 1em;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 60%;
	line-height: 2em;
}
.InquiryContentsInner {
	height: auto;
	padding-bottom: 40px;
}
#contents #contents_innner #InquiryContent {
	width: 890px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f2f2f2;
	border: 1px solid #CCCCCC;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	margin-top: 20px;
}
#contents #contents_innner #InquiryContent p {
	text-indent: 3em;
	margin-top: 10px;
}
#contents #contents_innner #InquiryContent form table tr .l_Cel {
	width: 25%;
}
#contents #contents_innner #InquiryContent form table {
	padding-top: 10px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
#contents #contents_innner #InquiryContent form {
	margin-top: 20px;
}
#contents #contents_innner #InquiryContent form table tr td textarea {
	margin-top: 1.5em;
}
#contents #contents_innner #InquiryContent form table tr .saying {
	padding-left: 20px;
	padding-right: 20px;
	border: none;
}
#contents #contents_innner #InquiryContent form table tr td {
	padding-top: 1.5em;
	border-bottom: 1px solid #CCCCCC;
}
.l_Cel {
	color: #48140D;
}
.l_Cel2 {
	color: #48140D;
}
#contents #contents_innner #InquiryContent form table tr td #address {
	margin-top: 10px;
}
#contents #contents_innner #InquiryContent form p {
	text-align: center;
	margin-top: 1em;
}
.aboutShopContentsInner {
	height: auto;
	padding-bottom: 40px;
}
#contents #contents_innner #aboutShopcontent {
	width: 930px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	background-color: #f2f2f2;
	border: 1px solid #CCCCCC;
}
#contents #contents_innner #aboutShopcontent #googleMap {
	width: 640px;
	border: 2px solid #666;
	margin: 60px auto 30px;
}
#contents #contents_innner #aboutShopcontent table {
	width: 640px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	border: 1px solid #CCC;
}
#contents #contents_innner #aboutShopcontent table tr th {
	padding: 10px;
	width: 20%;
	background: #CCC;
	border-bottom: 1px solid #f2f2f2;
}
#contents #contents_innner #aboutShopcontent table tr .aboutShopEnd {
	border-bottom: none;
}
#contents #contents_innner #aboutShopcontent table tr td {
	padding: 10px;
	border-bottom: 1px solid #CCC;
}
#contents #contents_innner .subTitle {
	padding-top: 25px;
	padding-left: 25px;
}
